@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="container">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0 text-center">Manage Your Account</h4>
        </div>
        <div class="card-body">
            <div class="row g-4">
                <div class="col-lg-3">
                    <partial name="_ManageNav" />
                </div>
                <div class="col-lg-9">
                    <div class="p-3 border rounded bg-light">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
